*{
    margin: 0;padding: 0;
    font-family: Cinzel,serif;
    scrollbar-width: none;
}

.imagesection{
    height:60vh;
    background-image:url(./images/main.jpg);
    background-size: cover;
}

.contactinfo{
    background-color:white;
    height:50vh;
    width:70vw;
    position:absolute;
    top:60vh;
    left:14vw;
    border-radius: 2rem;
    display: flex;
    gap:3vw;
}

.contactcard{
    height:35vh;
    width:25vw;
    background-color: whitesmoke;
    border-radius: 2rem;
    margin:auto;
}

.instagram{
    margin-top:37vh;
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    gap:5vh;
    align-items: center;
}
.username{
    margin-top: 4vh;
    display:flex;
    gap:0.5rem;
    align-items: center;
}
.username img{
    height:4vh;
    width:4vw;
}
.postcards{
    display:flex;
    gap:2vw;
}
.postcard{
    width:22vw;
    height:80vh;
    background-color: yellow;
    border-radius: 2rem;
}