*{
    margin: 0;padding: 0;
    font-family: Cinzel,serif;
    scrollbar-width: none;
}
.mainimg{
    /* width:98.5vw; */
    height:99vh;
    background-image: url(./images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
}   
.gallerysection{
    width:95vw;
    height:125vh;
    padding:1.5rem;
    box-sizing: border-box;
    background-color: white;
    position:absolute;
    top:105vh;
    right:2vw;
    border-radius: 2rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1vw;
    justify-items: center;
    align-items: center;
    /* box-shadow:2px 2px 2px whitesmoke; */
}
.img{
    width:25vw;
    height:35vh;
    border-radius: 2rem;
    background-image:url(./images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    margin-top:100vh;
}